services:
  # API Gateway (Java/Spring Cloud Gateway)
  api-gateway:
    build:
      context: ./api_gateway_2.1
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - activities-service
      - gamification-service
      - users-service
      - posts-service
      - admin-service
    networks:
      - retofit-network

  frontend:
    build:
      context: ./front
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway
    environment:
      - GEMINI_API_KEY=
      - NEXT_PUBLIC_PHYSICAL_ACTIVITIES_API_URL=http://localhost:8000
      - NEXT_PUBLIC_AUTH_API_URL=http://127.0.0.1:8080/api/auth
      - NEXT_PUBLIC_USER_API_URL=http://127.0.0.1:8080/api/users
      - NEXT_PUBLIC_GAMIFICATION_API_URL=http://127.0.0.1:8080/api/gamification
      - NEXT_PUBLIC_ACTIVITIES_API_URL=http://127.0.0.1:8080/api/activities
      - NEXT_PUBLIC_POSTS_API_URL=http://127.0.0.1:8080/api/posts
      - NEXT_PUBLIC_ADMIN_API_URL=http://127.0.0.1:8080/api/admin 
      - NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBahlztUM-HxBN5chRXm4bg3_tfac327qc
      - NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=retofit-65d7f.firebaseapp.com
      - NEXT_PUBLIC_FIREBASE_PROJECT_ID=retofit-65d7f
      - NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=retofit-65d7f.firebasestorage.app
      - NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=84767435359
      - NEXT_PUBLIC_FIREBASE_APP_ID=1:84767435359:web:fd2e56a651adb79d0e89ea
      - NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-1P33Y9WDD2
      - GEMINI_API_KEY=AIzaSyCQvZqvJV3vxdGgWwX_rRTahb8bvQHf2p8
    networks:
      - retofit-network
  
  # Auth Service (Python/FastAPI - puerto 8001)
  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_auth
      - MAIL_USERNAME=retofitapp@gmail.com
      - MAIL_PASSWORD=ubid jqul mzmg nnwh
      - MAIL_FROM=retofitapp@gmail.com
      - MAIL_PORT=587
      - MAIL_SERVER=smtp.gmail.com
      - MAIL_USE_TLS=true
      - MAIL_USE_SSL=false
      - SECRET_KEY=f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      - ALGORITHM=HS256
      - BACKEND_URL=http://localhost:8000
      - FRONTEND_URL=http://localhost:3000 
    networks:
      - retofit-network

  # Activities Service (Go - puerto 8002)
  activities-service:
    build:
      context: ./services/physical_activities_service
    container_name: activities-service
    ports:
      - "8002:8000"
    environment:
      - ENV=development
      - SERVER_ADDRESS=activities-service:8002
      - CORS_ALLOWED_ORIGIN=127.0.0.1:3000
      - DB_DRIVER=postgres
      - DB_SOURCE=postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_activities
    networks:
      - retofit-network

  # Gamification Service (Python/FastAPI - puerto 8003)
  gamification-service:
    build:
      context: ./services/gamification-service
    container_name: gamification-service
    ports:
      - "8003:8000"
    environment:
      - DATABASE_URL=mongodb://mongo:wMssbdHQqDrJaPwUGqtqyfoqmPHvneJZ@gondola.proxy.rlwy.net:10201/retofit_gamification?authSource=admin
    networks:
      - retofit-network

  # Users Service (Python/FastAPI - puerto 8004)
  users-service:
    build:
      context: ./services/user-service
    container_name: users-service
    ports:
      - "8004:8000"
      - "50051:50051"
    environment:
      - DATABASE_URL=postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_users
      - SECRET_KEY=f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      - ALGORITHM=HS256
    networks:
      - retofit-network

  # Posts Service (Node.js/Prisma - puerto 8005)
  posts-service:
    build:
      context: ./services/posts-service
    container_name: posts-service
    ports:
      - "8005:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_posts?sslmode=no-verify
      - SECRET_KEY=f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      - ALGORITHM=HS256
      - PORT=8005
      - NODE_ENV=development
      - API_BASE_URL=http://localhost:8005
      - MAX_FILE_SIZE=5242880
      - UPLOAD_DIR=./uploads
      - CLOUDINARY_CLOUD_NAME=dpsncmfxz
      - CLOUDINARY_API_KEY=848674259162179
      - CLOUDINARY_API_SECRET=6zQbbB8L-cZQbKT1MLIkuKKuqFg
    networks:
      - retofit-network

  # Admin Service (PHP - puerto 8006)
  admin-service:
    build:
      context: ./services/admin-service
    container_name: admin-service
    ports:
      - "8006:8000"
    environment:
      - FRONTEND_URL=http://localhost:3000
      - AUTH_SERVICE_URL=http://api-gateway:8080/api/auth_admin
      - USER_SERVICE_URL=http://api-gateway:8080/api/users_admin
      - CHALLENGES_DATABASE_URL=postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_retos
    networks:
      - retofit-network

networks:
  retofit-network:
    driver: bridge

