services:

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api-gateway
    networks:
      - public-net
      - private-net

  api-gateway:
    build:
      context: ./api_gateway_2.1
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - activities-service
      - gamification-service
      - users-service
      - posts-service
      - admin-service
    networks:
      - private-net


  frontend:
    build:
      context: ./front
    container_name: frontend
    expose:
      - "3000"
    environment:
      NEXT_PUBLIC_AUTH_API_URL: http://localhost/api/auth
      NEXT_PUBLIC_USER_API_URL: http://localhost/api/users
      NEXT_PUBLIC_GAMIFICATION_API_URL: http://localhost/api/gamification
      NEXT_PUBLIC_ACTIVITIES_API_URL: http://localhost/api/activities
      NEXT_PUBLIC_POSTS_API_URL: http://localhost/api/posts
      NEXT_PUBLIC_ADMIN_API_URL: http://localhost/api/admin
      NEXT_PUBLIC_FIREBASE_API_KEY: AIzaSyBahlztUM-HxBN5chRXm4bg3_tfac327qc
      NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: retofit-65d7f.firebaseapp.com
      NEXT_PUBLIC_FIREBASE_PROJECT_ID: retofit-65d7f
      NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: retofit-65d7f.firebasestorage.app
      NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: 84767435359
      NEXT_PUBLIC_FIREBASE_APP_ID: 1:84767435359:web:fd2e56a651adb79d0e89ea
      NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID: G-1P33Y9WDD2
    networks:
      - private-net


  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    expose:
      - "8001"
    environment:
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_auth
      SECRET_KEY: f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      ALGORITHM: HS256
      FRONTEND_URL: http://localhost
    networks:
      - private-net


  activities-service:
    build:
      context: ./services/physical_activities_service
    container_name: activities-service
    expose:
      - "8002"
    environment:
      ENV: development
      SERVER_ADDRESS: 0.0.0.0:8002
      DB_DRIVER: postgres
      DB_SOURCE: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_activities
    networks:
      - private-net


  gamification-service:
    build:
      context: ./services/gamification-service
    container_name: gamification-service
    expose:
      - "8003"
    environment:
      DATABASE_URL: mongodb://mongo:wMssbdHQqDrJaPwUGqtqyfoqmPHvneJZ@gondola.proxy.rlwy.net:10201/retofit_gamification?authSource=admin
    networks:
      - private-net


  users-service:
    build:
      context: ./services/user-service
    container_name: users-service
    expose:
      - "8004"
      - "50051"
    environment:
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_users
      SECRET_KEY: f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      ALGORITHM: HS256
    networks:
      - private-net


  posts-service:
    build:
      context: ./services/posts-service
    container_name: posts-service
    expose:
      - "8005"
    environment:
      PORT: 8005
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_posts?sslmode=no-verify
      CLOUDINARY_CLOUD_NAME: dpsncmfxz
      CLOUDINARY_API_KEY: 848674259162179
      CLOUDINARY_API_SECRET: 6zQbbB8L-cZQbKT1MLIkuKKuqFg
    networks:
      - private-net

  admin-service:
    build:
      context: ./services/admin-service
    container_name: admin-service
    expose:
      - "8006"
    environment:
      FRONTEND_URL: http://localhost
      AUTH_SERVICE_URL: http://api-gateway:8080/api/auth_admin
      USER_SERVICE_URL: http://api-gateway:8080/api/users_admin
    networks:
      - private-net


networks:
  public-net:
    driver: bridge
  private-net:
    driver: bridge
