services:
  # ==========================
  # API GATEWAY (Spring)
  # ==========================
  api-gateway:
    build:
      context: ./api_gateway_2.1
    container_name: api-gateway
    expose:
      - "8080"     # NO lo expongas al host, nginx lo accede internamente
    depends_on:
      - auth-service
      - activities-service
      - gamification-service
      - users-service
      - posts-service
      - admin-service
    networks:
      - retofit-network

  # ==========================
  # FRONTEND (Next.js)
  # ==========================
  frontend:
    build:
      context: ./front
    container_name: frontend
    expose:
      - "3000"     # Solo para nginx
    environment:
      NEXT_PUBLIC_AUTH_API_URL: http://localhost/api/auth
      NEXT_PUBLIC_USER_API_URL: http://localhost/api/users
      NEXT_PUBLIC_GAMIFICATION_API_URL: http://localhost/api/gamification
      NEXT_PUBLIC_ACTIVITIES_API_URL: http://localhost/api/activities
      NEXT_PUBLIC_POSTS_API_URL: http://localhost/api/posts
      NEXT_PUBLIC_ADMIN_API_URL: http://localhost/api/admin
      NEXT_PUBLIC_FIREBASE_API_KEY: AIzaSyBahlztUM-HxBN5chRXm4bg3_tfac327qc
      NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: retofit-65d7f.firebaseapp.com
      NEXT_PUBLIC_FIREBASE_PROJECT_ID: retofit-65d7f
      NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: retofit-65d7f.firebasestorage.app
      NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: 84767435359
      NEXT_PUBLIC_FIREBASE_APP_ID: 1:84767435359:web:fd2e56a651adb79d0e89ea
      NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID: G-1P33Y9WDD2
    depends_on:
      - api-gateway
    networks:
      - retofit-network

  # ==========================
  # AUTH SERVICE (FastAPI)
  # ==========================
  auth-service:
    build:
      context: ./services/auth-service
    container_name: auth-service
    expose:
      - "8000"     # Interno
    environment:
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_auth
      SECRET_KEY: f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      ALGORITHM: HS256
      FRONTEND_URL: http://localhost
    networks:
      - retofit-network

  # ==========================
  # PHYSICAL ACTIVITIES SERVICE (Go)
  # ==========================
  activities-service:
    build:
      context: ./services/physical_activities_service
    container_name: activities-service
    expose:
      - "8000"
    environment:
      ENV: development
      DB_DRIVER: postgres
      DB_SOURCE: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_activities
    networks:
      - retofit-network

  # ==========================
  # GAMIFICATION SERVICE (FastAPI)
  # ==========================
  gamification-service:
    build:
      context: ./services/gamification-service
    container_name: gamification-service
    expose:
      - "8000"
    environment:
      DATABASE_URL: mongodb://mongo:wMssbdHQqDrJaPwUGqtqyfoqmPHvneJZ@gondola.proxy.rlwy.net:10201/retofit_gamification?authSource=admin
    networks:
      - retofit-network

  # ==========================
  # USERS SERVICE (FastAPI)
  # ==========================
  users-service:
    build:
      context: ./services/user-service
    container_name: users-service
    expose:
      - "8000"
      - "50051"
    environment:
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_users
      SECRET_KEY: f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa
      ALGORITHM: HS256
    networks:
      - retofit-network

  # ==========================
  # POSTS SERVICE (Node.js)
  # ==========================
  posts-service:
    build:
      context: ./services/posts-service
    container_name: posts-service
    expose:
      - "8000" # puerto interno real
    environment:
      PORT: 8000
      DATABASE_URL: postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_posts?sslmode=no-verify
      CLOUDINARY_CLOUD_NAME: dpsncmfxz
      CLOUDINARY_API_KEY: 848674259162179
      CLOUDINARY_API_SECRET: 6zQbbB8L-cZQbKT1MLIkuKKuqFg
    networks:
      - retofit-network

  # ==========================
  # ADMIN SERVICE (PHP)
  # ==========================
  admin-service:
    build:
      context: ./services/admin-service
    container_name: admin-service
    expose:
      - "8000"
    environment:
      FRONTEND_URL: http://localhost
      AUTH_SERVICE_URL: http://api-gateway:8080/api/auth_admin
      USER_SERVICE_URL: http://api-gateway:8080/api/users_admin
    networks:
      - retofit-network

  # ==========================
  # NGINX (REVERSE PROXY)
  # ==========================
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - api-gateway
      - posts-service
      - admin-service
    networks:
      - retofit-network

networks:
  retofit-network:
    driver: bridge
