services:
  frontend:
    build: ./front
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - activities-service
      - gamification-service
      - user-service
      - admin-sevice
      - posts-service

    volumes:
      - ./front:/app
      - /app/node_modules
      - /app/.next 
    environment:
      NEXT_PUBLIC_AUTH_API_URL: "http://127.0.0.1:8001/auth"
      NEXT_PUBLIC_USER_API_URL: "http://127.0.0.1:8004/users"
      NEXT_PUBLIC_GAMIFICATION_API_URL: "http://127.0.0.1:8003/gamification"
      NEXT_PUBLIC_ACTIVITIES_API_URL: "http://127.0.0.1:8002/activities"
      NEXT_PUBLIC_POSTS_API_URL: "http://127.0.0.1:8005/posts"
      NEXT_PUBLIC_ADMIN_API_URL: "http://localhost:8006/admin"
      NEXT_PUBLIC_FIREBASE_API_KEY: "AIzaSyBahlztUM-HxBN5chRXm4bg3_tfac327qc"
      NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN: "retofit-65d7f.firebaseapp.com"
      NEXT_PUBLIC_FIREBASE_PROJECT_ID: "retofit-65d7f"
      NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET: "retofit-65d7f.firebasestorage.app"
      NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID: "84767435359"
      NEXT_PUBLIC_FIREBASE_APP_ID: "1:84767435359:web:fd2e56a651adb79d0e89ea"
      NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID: "G-1P33Y9WDD2"
    # depends_on removido ya que no hay api-gateway
    command: npm run dev
    networks:
      - app-network

  admin-sevice:
    build: ./services/admin-service
    container_name: admin-service
    ports:
      - "8006:8000"
    # environment:
    networks:
      - app-network

  posts-service:
    build: ./services/posts-service
    container_name: posts-service
    ports:
      - "8005:8000"
    environment:
      DATABASE_URL: "postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_posts?sslmode=no-verify"
      SECRET_KEY: "f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa"
      ALGORITHM: "HS256"
      PORT: "8000"
      NODE_ENV: "development"
      API_BASE_URL: "http://localhost:8005"
      MAX_FILE_SIZE: "5242880"
      UPLOAD_DIR: "./uploads"
      CLOUDINARY_CLOUD_NAME: "dpsncmfxz"
      CLOUDINARY_API_KEY: "848674259162179"
      CLOUDINARY_API_SECRET: "6zQbbB8L-cZQbKT1MLIkuKKuqFg" 
    networks:
      - app-network

  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "8001:8000"  
    environment:
      PORT: "8000"
      MAIL_USERNAME: "retofitapp@gmail.com"
      MAIL_PASSWORD: "ubid jqul mzmg nnwh"
      MAIL_FROM: "retofitapp@gmail.com"
      SECRET_KEY: "f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa"
      ALGORITHM: "HS256"
      DATABASE_URL: "postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_auth" 
      MAIL_PORT: "587"
      MAIL_SERVER: "smtp.gmail.com"
      MAIL_USE_TLS: true
      MAIL_USE_SSL: false
      BACKEND_URL: "http://localhost:8000"
      FRONTEND_URL: "http://localhost:3000" 
    networks:
      - "app-network"

  activities-service:
    build: ./services/physical_activities_service
    container_name: activities-service
    ports:
      - "8002:8000"
    environment:
      PORT: "8000"
      ENV: "development"
      SERVER_ADDRESS: "0.0.0.0:8000"
      CORS_ALLOWED_ORIGIN: "*"
      DB_DRIVER: "postgres"
      DB_SOURCE: "postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_activities"
    networks:
      - "app-network"

  gamification-service:
    build: ./services/gamification-service
    container_name: gamification-service
    ports:
      - "8003:8000"
    environment:
      PORT: "8000"
      DATABASE_URL: "mongodb://mongo:wMssbdHQqDrJaPwUGqtqyfoqmPHvneJZ@gondola.proxy.rlwy.net:10201/retofit_gamification?authSource=admin"
    networks:
      - "app-network"

  user-service:
    build: ./services/user-service
    container_name: user-service
    ports:
      - "8004:8000"
    environment:
      PORT: "8000"
      DATABASE_URL: "postgresql://postgres:Retofit2025@retofit.cd66iick6o60.us-east-2.rds.amazonaws.com:5432/retofit_users"
      SECRET_KEY: "f40cf292b97e6ec1e40e6a376e035ee9ebd9369c9dc233c474216ec0fe1b54aa"
      ALGORITHM: "HS256"
    networks:
      - "app-network"

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - auth-service
      - user-service
      - activities-service
      - gamification-service
      - posts-service
      - admin-sevice
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
