apiVersion: apps/v1
kind: Deployment
metadata:
  name: landing-page
  labels:
    app: landing-page
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: landing-page
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: landing-page
        tier: frontend
    spec:
      containers:
      - name: landing-page
        image: us-central1-docker.pkg.dev/retofit-k8s-prod/retofit-images/landing-page:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        env:
        - name: NEXT_PUBLIC_FRONTEND_URL
          value: "https://localhost"
        livenessProbe:
          httpGet:
            path: /
            port: 3001
          initialDelaySeconds: 90
          periodSeconds: 10
          timeoutSeconds: 15
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 3001
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 15
          failureThreshold: 3
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
